<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
       body {
        background-image: url('https://media.istockphoto.com/id/1132442970/photo/colored-powder-explosion-on-white-background.jpg?b=1&s=170667a&w=0&k=20&c=9f6Nc2aWd_D8tQRvA3smOJxuG8P9YBTbSx3At4OEqyk=');
        background-size: cover;}
    </style>
</head>
<body>
<form action="/login" method="post">
    <table>
        <tr><td>Name</td>
        <td><input type="text" name="un"></td></tr>
        <tr><td>Password</td>
        <td><input type="'password" name="pas"></td></tr>
        <tr><td><input type="submit"></td></tr>
    </table>
</form>
</body>
</html>